@charset "utf-8";
html{
	background-color: #D3BE8A;
	margin-top: 10px;
	
}
.logo{
	
}
.searchbar{
	position: absolute;
	left: 1440px;
	bottom: 718px;
	height: 20px;
}
.MapG{
	position: absolute;
	left:1000px;
	top: 300px
}
.ourlocation{
	position: absolute;
	top: 230px;
	left:1250px;
}
.questions{
	position: absolute;
	top: 230px;
	left:630px;
}
.current{
	border-right-style: solid;
	border-right-color:#24D5EB;
	border-left-color:#24D5EB;
	border-left-style: solid;
	padding-top:10px;
	padding-bottom:10px;
	
}
.contactus{
	position: absolute;
	bottom:690px;
	left:1770px;
	text-align: center
}
.title{
	position: absolute;
	right: 730px;
	bottom: 600px;
	font:"alex-brush";
}
ul {
    list-style-type: none;
    margin: 2;
    padding: 15px;
    overflow: hidden;
    background-color:hsla(0,0%,38%,0.74);
    top: 100px;
	margin-left:-10px;
	margin-right:-10px;
	font-size: 20px
}
#nav_menu{
	align-content: center;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
	padding: 14px 16px;
    padding: 10px;
    text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #111
}
.active {
    background-color:#37BECF;
}

.park{
	position: absolute;
	left: 500px;
	top: 350px
}
.BlackGirl {
	position: absolute;
	left: 620px;
  	top: 500px;
	width:174px;
	height:174px;
}
div.scroll {
    background-color: #D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}

.glasses{
	position: absolute;
	left: 900px;
  	top: 450px;
	width:174px;
	height:174px;
}
div.scroll1 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}

.grin {
	position: absolute;
	left: 1190px;
  	top: 450px;
	width:174px;
	height:174px;
}
div.scroll2 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}
.kid {
	position: absolute;
	left: 1450px;
  	top: 500px;
	width:174px;
	height:174px;
}
div.scroll3 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}
.pinkshirt {
	position: absolute;
	left: 760px;
  	top: 850px;
	width:174px;
	height:174px;
}
div.scroll4 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}
.unnamed {
	position: absolute;
	left: 1045px;
  	top: 830px;
	width:174px;
	height:174px;
}
div.scroll5 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}
.blueshirt{
	position: absolute;
	left: 1320px;
  	top: 850px;
	width:174px;
	height:174px;
}
div.scroll6 {
    background-color:#D3BE8A;
    width: 174px;
    height: 150px;
    overflow: scroll;
}
.comtitle{
	position: absolute;
	top: 220px;
	right: 615px
}
.CommitteesText{
	position: absolute;
	left: 500px;
}
.covtitle{
	position: absolute;
	right: 760px;
	bottom: 600px;
}
.CovenantsText{
	position: absolute;
	top: 370px;
	left: 1400px;
	width: 300px;
}
.covabout{
	position: absolute;
	top: 300px;
	right: 350px
}
.plattitle{
	position: absolute;
	top: 300px;
	left:550px;
}
.map{
	position: absolute;
	top: 310px;
	left:800px;
	width: 540px;
	height: 640px;
}
.plat{
	position: absolute;
	top:370px;
	left: 580px;
}
.FAQS{
	position: absolute;
	left: 500px;
}
.hoaQ{
	position:absolute;
	top: 700px;
	left: 1000px;
}

.icons{
    display:inline-block;
    float: right;
    padding-left: 20px;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px;
	position:absolute;
	left: 1660px;
	bottom: 705px
}
.icons1{
    display:inline-block;
    float: right;
    padding-left: 20px;
    font-size: 12px;
    color: #333333;
    padding-top: 20px;
    padding-right: 20px;
	position:absolute;
	left: 1610px;
	bottom: 705px
}
.form{
	margin-bottom: -100px
}
.news1 {
	text-align: center;
	width:450px;
	padding-top: 10px;
	margin-right: inherit;
	border: 3px black;
	border-style: solid;
	padding-left: 10px;
	background: white;
	position: absolute;
	top: 264px
}
.foot{
	position: absolute;
	left: 0;
	bottom: -400px;
	width: 100%;
	background-color: #939393;
	color: white;
	text-align: center
}
.footFAQ{
	position: absolute;
	left: 0;
	bottom: -1800px;
	width: 100%;
	background-color: #939393;
	color: white;
	text-align: center
}

.newshead {
	position:absolute;
	bottom: 1250px;
	right: 1571px;
	width: 120px;
	margin-left: 150px;
	margin-bottom: -640px;
	border: 3px black;
	border-style:solid;
	padding-left:50px;
	background:white;
}

